/* Viewports. */
@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}
/* Body parts. */
body
{
    font-family: 'Roboto Slab', 'Roboto', 'Lato', sans-serif;

    margin: auto;
    width: auto;
    max-width: 800px;

    background-color: #fcfcfc;
}
header
{
    margin-top: 64px;
}
footer
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    margin-top: 10px;
    
    color: #8b8b8b;

    line-height: 1;
}
/* Links. */
a, a:hover, a:visited, a:link
{
    text-decoration: none;
    color: #2a4f8f;
}
/* Horizontal lines consistent with HTML5. */
/* Source: https://love2dev.com/blog/html-horizontal-line/ */
hr
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    height: 0.5px;
    
    background-color: #8b8b8b;
    opacity: 1;
}
 /* Custom classes. */
.jm-headshot
{
    width: 200px;
    height: 200px;
}
.jm-author
{
    font-family: 'Roboto Slab', serif;
    color: #444;
}
.jm-intro
{
    font-family: 'Roboto Slab', serif;
    color: #777;
}
.jm-description
{
    font-family: 'Roboto', sans-serif;
    color: #8b8b8b;
    
    text-align: center;
}
.jm-social-icons
{
    color: #777;
}
.jm-menu
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    text-align: center;
    text-decoration: none;
    color: #2a4f8f;
}